html,
body {
    margin: 0;
    padding: 0;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#clong-main,
#clong-canvas {
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: block;
}

#loader {
    z-index: 0;
    position: absolute;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0.6em solid transparent;
    border-top: 0.6em solid transparent;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);  }
    100% { transform: rotate(360deg);  }
}
