html,
body {
    background-color: #1c1c1c;
    color: white;
    margin: 0;
    padding: 0;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hud {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
}

#score,
#timer {
    display: inline-block;
    padding: 2em;
}

#main,
#clong-canvas {
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: block;
}

#spinner,
#start-button {
    position: absolute;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#spinner {
    z-index: 0;
    border: 0.6em solid transparent;
    border-top: 0.6em solid transparent;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);  }
    100% { transform: rotate(360deg);  }
}

#start-button {
    z-index: 999;
}

#scoreboard {
    font-family: sans-serif;
    font-size: 2.5em;
    padding-top: 1em;
}

#scoreboard table {
    width: 100%;
}

#scoreboard td {
    width: 33.3333%;
    padding-bottom: 0.5em;
}

.rank {
    text-align: right;
    padding-right: 1em;
}
